aside.aside {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    position: sticky;
    top: -1rem;
    left: 0;
    padding: 1rem;
    margin: 4rem 0;
}

div.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 700;
    border-top: 1px solid var(--gray);
}

span.close {
    transform: rotate(45deg);
}

.options {
    padding-bottom: 2rem;
    color: var(--white);
}

.options div {
    margin: 0.25rem 0;
}

.options span {
    margin-left: 0.5rem;
}