:root {
    --black: #2a2b2e;
    --white: #FFFFFF;
    --gray: hsla(0, 0%, 100%, .7);
    --lightGray: hsla(0, 0%, 100%, .2);
    --gradient: linear-gradient(90deg, rgba(255, 31, 62, 1) 0%, rgba(147, 93, 151, 1) 50%, rgba(32, 140, 241, 1) 100%);
}

body {
    background-color: var(--black);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.layout-container {
    max-width: 96rem;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 129px 121px auto 1fr;
}